<nav class="db dt-l w-100 border-box pa4 ph5-l bb b--light-silver bg-white-90">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb3 mb0-l" href="/" title="Home">
    <img src="/img/kc-logo.png" class="dib w-30 w-60-l" alt="Site Name">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <a class="link dim dark-gray f5 f4-l dib mr3 mr4-l" href="/" title="Home">Home</a>
    <a class="link dim dark-gray f5 f4-l dib mr3 mr4-l" href="/about" title="About">About</a>
    <a class="link dim dark-gray f5 f4-l dib mr3 mr4-l" href="/beneficiaries" title="Beneficiaries">Beneficiaries</a>
    <a class="link dim dark-gray f5 f4-l dib mr3 mr4-l" href="/events" title="Events">Events</a>
    <a class="link dim dark-gray f5 f4-l dib" href="/give" title="Give">Give</a>
  </div>
</nav>
